/* Color palette
#C6E7F1 - light blue
#F1F6F7 - very light blue
#2E294E - dark black
-----------------------------------------*/

:root {
  --blue: #14a1d7;
  --blue2: #0D6EFD;
  --light-blue: #f1f6f7;
  --dark-black: #2E294E;
}

/* Start Reset 
-----------------------------------------*/

*, 
*::before, 
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html, 
body {
  height: 100%;
}

html {
	/* Set font size for easy rem calculations:
	 * Default document font size = 16px = 1rem = 100%
	 * (100% / 16px) * 10 = 62.5% so that 10px = 1 rem = 100% */
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
  /* Typography */
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  color: var(--dark-black);
  line-height: 1.5;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  overflow-wrap: break-word;
}

/* Media queries for font responsiveness:
 
  * The trick is to use rem units for size, margin and padding values.
  * Because rem is relative to document font size,
  * When we modify the font size of the document,
  * It affects all properties using rem units (uniformity). 

  * Calculation:
  * Screen size breakpoint divided by browser base font size
  * Example: 1200px / 16px = 75em */

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
	html {
		font-size: 60%;
	}
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
	html {
		font-size: 58%;
	}
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
	html {
		font-size: 55%;
	}
}

/* Media queries for page responsiveness:

  * Here, set values for column classes and assign those classes to your html elements. */

/* Always design for mobile first */
[class*="col-"] {
  width: 100%;
}

/* For tablets*/
@media (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

/* For desktop */
@media (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

a {
  color: var(--blue2);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 2.7rem;
  border-top: 0.25rem solid;
  padding-top: 1rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

p {
  font-size: 2rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding-top: 5rem;
  padding-right: 5rem;
  padding-bottom: 0;
  padding-left: 5rem;
}

.col-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 4rem;
  width: 100%;
  max-width: 120rem;
}

@media (max-width: 46.875em) {
  .col-container {
    flex-direction: column;
    gap: 0;
  }
  .col-6, .col-s-6 {
    width: 100%;
  }
  .menu-button {
    padding-bottom: 4rem;
  }
  .menu-button:last-child {
    padding-bottom: 0;
  }
}

/* Header 
-----------------------------------------*/

header h1, header p {
  color: whitesmoke;
}

header h1 {
  font-size: 4.4rem;
  padding-bottom: 1rem;
}

header p {
  font-size: 2rem;
}

@media (min-width: 46.875em) {
  /* For desktop and tablet */
  header h1 {
    font-size: 8rem;
  }
  header p {
    font-size: 2.5rem;
  }
}

@media (max-width: 24.375em) {
  /* For my Iphone 6 ^^ */
  header h1 {
    font-size: 4rem;
  }
  header p {
    font-size: 1.8rem;
  }
}

header {
  background-color: var(--blue2);
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 75vh;
  padding: 4rem;
  border: none;
}

.header-child {
  width: 100%;
  max-width: 116rem;
  border: none;
}

.header-subtitle {
  display: block;
  text-indent: 3rem;
}

.header-curly {
  opacity: 0.20;
}

.header-link-container {
  display: flex;
  flex-direction: row;
  /*gap: 3rem;*/
  margin-top: 1rem;
  margin-left: 3rem;
}

.header-link svg {
  height: 4rem;
  width: 4rem;
  margin-right: 3rem;
  color: whitesmoke;
}

/* Resume 
-----------------------------------------*/
.menu-button a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  padding: .5rem;
  border: .1rem solid var(--blue2);
  text-decoration: none;
}

.menu-button a:hover {
  /*border: .3rem solid var(--blue2);
  padding: .3rem;*/
  transform: scale(1.05);
}

@media (max-width: 46.875em) {
  .menu-button a {
    flex-direction: column;
    text-align: center;
    margin: 1rem 0 -2rem 0;
  }
}

/* About 
-----------------------------------------*/

/* Projects 
-----------------------------------------*/
.code-background {
  display: flex;
  flex-direction: column;
  background-color: #F8F9FA;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.code-background p {
  margin: 0 auto;
}

.code-text {
  font-family: monospace;
}

.code-blue {
  font-family: monospace;
  font-size: 115%;
  padding-bottom: 2rem;
  color: var(--blue2);
  text-transform: lowercase;
  word-wrap: nowrap;
}

.code-crimson {
  font-family: monospace;
  font-size: 115%;
  padding-bottom: 2rem;
  color: crimson;
}

.code-red {
  /*margin-left: 2rem;*/
  color:red;
}

.code-green {
  color: green;
}

@media (max-width: 61.875em) {
  .code-green,
  .code-red, 
  #education a {
    font-size: 85%;
  }
}

@media (max-width: 46.875em) {
  .code-green,
  .code-red, 
  #education a {
    font-size: 75%;
  }
}

/* Education 
-----------------------------------------*/


/* Footer 
-----------------------------------------*/

footer {
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 30vh;
  margin-top: 6rem;
  padding-top: 5rem;
  padding-bottom: 6rem;
  border-top: 1px solid rgba(0,0,0,0.1);
}

footer h3 {
  font-size: 2rem;
  font-weight: 600;
}

footer .header-link-container {
  justify-content: center;
  margin-top: 2rem;
  margin-left: 3rem;
}

footer .header-link svg {
  height: 3rem;
  width: 3rem;
  margin-right: 3rem;
  color: #000;
}
