/* CSS Reset 
-----------------------------------------*/

*, 
*::before, 
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html, 
body {
  height: 100%;
}

html {
	/* Set font size for easy rem calculations:
	 * Default document font size = 16px = 1rem = 100%
	 * (100% / 16px) * 10 = 62.5% so that 10px = 1 rem = 100% */
	font-size: 62.5%;
	scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  overflow-wrap: break-word;
}

/* Media queries for font responsiveness:
 
  * The trick is to use rem units for size, margin and padding values.
  * Because rem is relative to document font size,
  * When we modify the font size of the document,
  * It affects all properties using rem units (uniformity). 

  * Calculation:
  * Screen size breakpoint divided by browser base font size
  * Example: 1200px / 16px = 75em */

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
	html {
		font-size: 60%;
	}
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
	html {
		font-size: 58%;
	}
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
	html {
		font-size: 55%;
	}
}

/* Media queries for page responsiveness:

  * Here, set values for column classes and assign those classes to your html elements. */

/* Always design for mobile first */
[class*="col-"] {
  width: 100%;
}

/* For desktop */
@media (min-width: 821px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* Root 
-----------------------------------------*/

:root {
  --accent: linear-gradient(135deg, #43CBFF 10%, #9708CC 100%);
  --accent2: linear-gradient(135deg, #9708CC 50%, #75079D 50%);
  --main: #282A35;
  --secondary: #F5F5F5;
  --lightgray: lightgray;
  --ongoing: #D9EEE0;
  --completed: #23B57F;
  --ok:#23B57F;
  --ko: #E15554;
  --section-spacing: 10rem 0;
  --page-width: 120rem;
}

/* HTML elements 
-----------------------------------------*/

body p, 
body a {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: var(--main);
  line-height: 1.5;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

body a:active {
  color: var(--main);
}

body h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", sans-serif;
}

/*.overlay {
  background: rgba(0,0,0,.55);
}*/

header nav {
  height: 15vh;
  display: flex;
  flex-direction: column;
}

.sub-menu {
  margin-top: 1rem;
}

.sub-menu li a {
  font-size: 1.6rem;
}

header nav ul {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  text-align: center;
}

header a,
footer a {
  padding: 0 20px;
  text-decoration: none;
  color: var(--main);
}

@media (max-width: 767px) {
  header a {
    padding: 0 1.25rem;
  }
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}

header h1 {
  background: var(--accent);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /*color: white;*/
  font-size: 6.4rem;
  font-weight: 400;
  text-align: center;
}

footer h1 {
  font-family: "Space Mono", sans-serif;
  background: var(--accent);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /*color: white;*/
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 820px) {
  header h1 {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
  header h1 {
    font-size: 3.5rem;
    font-weight: 600;
  }
}

header p {
  padding-top: 2rem;
  color: var(--main);
  text-align: center;
}

header section,
section {
  /* Layout */
  min-height: 60vh;
  padding: var(--section-spacing);
  /*border-radius: 16px;*/
}

footer section {
  min-height: 40vh;
  padding: var(--section-spacing);
}

@media (max-width: 767px) {
  header section {
    padding: 10rem 2rem;
  }
}

header section div h1 {
  font-family: "Space Mono", sans-serif;
}

header span {
  background: var(--accent);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: .2;
}

header strong {
  font-weight: 500;
  text-decoration: underline;
}

header svg {
  margin: auto;
  margin: 0 10px;
}

@media (max-width: 767px) {
  section {
    padding: 2rem;
  }
}

.section-width {
  width: var(--page-width);
}

.border-top {
  border-top: 2px solid var(--secondary);
}

.border-bottom {
  border-bottom: 2px solid var(--secondary);
}

footer div {
  display: flex;
  flex-direction: column;
}

/* Position classes 
-----------------------------------------*/

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/* Alignment classes 
-----------------------------------------*/

.flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
}

.center-100 {
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-right {
  width: 100%;
  top: -35%;
  left: 85%;
}

.middle {
  display: flex;
  align-items: center;
}

.center-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-between-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 820px) {
  .space-between-row {
    display: flex;
    flex-direction: column;
  }
}

.space-around-column {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 767px) {
  .space-around-column {
    display: flex;
    flex-direction: row;
  }
}

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 820px) {
  .grid-3-col,
  .grid-4-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 820px) {
  .grid-2-col {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  .grid-3-col,
  .grid-4-col {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.guide {
  border: 1px solid red;
}

/* Card classes 
-----------------------------------------*/

.section-title {
  font-size: 3.2rem;
  font-weight: 400;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .section-title {
    margin-top: 2.5rem;
    font-size: 3rem;
    text-align: center;
  }
}

@media (max-width: 820px) {
  .section-subtitle {
    text-align: center;
    padding-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .section-subtitle {
    text-align: center;
  }
}

@media (max-width: 820px) {
  .section-title {
    text-align: center;
  }
}

.card-text {
  height: auto;
  margin: 20px;
  padding: 25px;
  border: 1px solid transparent;
  border-radius: 16px;
  background-color: white;
}

.cloud {
  display: inline-block;
  margin: 10px;
  padding: 25px;
  border: 1px solid transparent;
  border-radius: 16px;
  background-color: white;
}

.cloud-ok {
  display: inline-block;
  margin: 10px;
  padding: 25px;
  border: 1px solid var(--ok);
  border-radius: 16px;
  background-color: white;
}

.cloud-ko {
  display: inline-block;
  margin: 10px;
  padding: 25px;
  border: 1px solid var(--ko);
  border-radius: 16px;
  background-color: white;
}

.card {
  margin: 20px;
  /*border: 1px solid lightgray;*/
  border-radius: 16px;
  background-color: white;
}

.card-inverse {
  margin: 20px;
  border: 1px solid white;
  border-radius: 16px;
  background-color: white;
}

.card-top {
  background-color: var(--secondary);
  /*border: 1px solid transparent;*/
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 20px 0 10px 0;
}

.card-top-iframe {
  background-color: var(--secondary);
  border-bottom: 1px solid white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 20px 0 10px 0;
}

.card-top-inverse {
  background-color: transparent;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 20px 0 10px 0;
}

.card-top-white {
  background-color: transparent;
  border-bottom: 1px solid lightgray;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 20px 0 10px 0;
}

.card-top-ongoing {
  background-color: var(--ongoing);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 20px 0 10px 0;
}

.card-top-complete {
  background-color: var(--completed);
  color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 20px 0 10px 0;
}

.card-bottom {
  padding: 20px;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.card-bottom-white {
  padding: 20px;
  /*border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;*/
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.card-bottom iframe {
  width: 100%;
  height: 500px;
  background-color: white;
}

.card-bottom-inverse {
  padding: 20px;
  background-color: white;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

@media (max-width: 767px) {
  p.card {
    text-align: center;
  }
}

.card h3,
.card-inverse h3 {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

.card-inverse svg {
  width: 60px;
  fill: var(--completed);
}

.card p,
.card-inverse p {
  font-size: 1.8rem;
  text-align: center;
}

.card a,
.card-inverse a {
  text-decoration: none;
}

#profile img {
  width: 500px;
  top: 10%;
  left: 50%;
}

@media (max-width: 767px) {
  #profile img {
    position: relative;
    top: 0;
    left: 0;
  }
}

@media (min-width: 820px) {
  .arrow-mobile {
    display: none;
  }
}

@media (max-width: 820px) {
  .arrow-desktop {
    display: none;
  }
}